<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	  <!--Let browser know website is optimized for mobile-->
	  <meta name="viewport" content="width=device-width, initial-scale=1"/>
	  <title>Hello Books</title>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<!--My customised css link-->
	<link rel="stylesheet" type="text\css" href="C:\Users\mikey\HelloBooks\app\static\hello-books.css"/>
  </head>

  <body>
	  <!--Creates and extended nav bar on the landind page-->
	  <nav class="nav-extend blue-grey darken-4">
			<div class="nav-wrapper">
			  <a href="#" class="brand-logo center yellow-text">HELLO BOOKS</a>
			  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			  <ul id="nav-mobile" class="yellow-text left hide-on-med-and-down">
				  <li><a href="sass.html" class="yellow-text">Home</a></li>
				  <li><a href="sass.html" class="yellow-text">Register</a></li>
			  </ul>
			  <ul id="nav-mobile" class="right hide-on-med-and-down">
				  <li><a href="badges.html" class="yellow-text">Log In</a></li>
				  <li><a href="collapsible.html" class="yellow-text">About Us</a></li>
				</ul>
				<ul class="side-nav" id="mobile-demo">
				    <li><a href="sass.html" class="yellow-text">Sass</a></li>
					<li><a href="sass.html" class="yellow-text">Sass</a></li>
					<li><a href="badges.html" class="yellow-text">Components</a></li>
					<li><a href="collapsible.html" class="yellow-text">JavaScript</a></li>
				</ul>

			</div>
		</nav>		

	
		
		<div class="card">
					<div class="card-image waves-effect waves-block waves-light">
							
					  <img class="activator" src="https://i.pinimg.com/736x/af/d7/1c/afd71c7c6f675eb54991c87d2aa0bea9--wallpaper-bookshelf-book-wallpaper.jpg">
					  <div class="row center ">  <a href="#" id="register-button" class="btn-large waves-effect waves-light  yellow">Register</a>
					  </div>
					</div>
					<div class="card-content">
					  <span class="card-title activator grey-text text-darken-4">Our Features<i class="material-icons right">more_vert</i></span>
					  <p><a href="#"></a></p>
					</div>
					
					<div class="card-reveal">
					  <span class="card-title grey-text text-darken-4">Features<i class="material-icons right">close</i></span>
					  <p>Our site will assist you in:
					   </p>
					   <ul>
							<li>- Viewing all available books </li>
							<li>-Renting books on the click of a button</li>
							<li>-Records books that you have retuned </li>
							<li>-Accessing your library history</li>
						</ul>
					</div>
				  </div>
	<footer class="page-footer blue-grey darken-4">
		<div class="container">
		<div class="row">
		<div class="col l6 s12">
			<h5 class="white-text">More Info</h5>
			<p class="grey-text text-lighten-4">Contacts</p>
		</div>
		<div class="col l4 offset-l2 s12">
			<h5 class="white-text">Links</h5>
			<ul>
				<li><a class="grey-text text-lighten-3" href="#!">Google+</a></li>
				<li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
				<li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
				<li><a class="grey-text text-lighten-3" href="#!">Blog</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="footer-copyright">
	<div class="container">
		© 2014 Copyright Text
		<a class="grey-text text-lighten-4 right" href="#!">powered by Andela</a>
	</div>
</div>
</footer>

	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
          
  </body>
</html>
	  