<!DOCTYPE html>
<html>
<head>
	<title>Log in</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="C:\Users\mikey\HelloBooks\app\static\hello-books.css">
</head>

<body>
	<div class = "nav">
		<h2>Hello-Books</h2>
	<ul>	
		<li>Search Books</li>
	</div>
    </ul>
    <div class = "main">
	<h1>Hello-Books;)</h1>
	<h3>We Digitize businesses and Love Feed Back from Our Clients</h3>
	<p> "We are a company that brings important and executable data through 
	 <a href = "https://www.glassdoor.com/index.htm">
	 Reviews!</a>"
	</p>
	<div class = "nav">
            <li>Sign Up</li>
            <li>About Us</li>
    </div>
	<p id="footer">&copy; LIGHTBULB INC </p>
	</div>
</body>

</html>